APP_ENV=development
APP_DEBUG=false
BUS_HOST=127.0.0.1
BUS_PORT=8000

PROVIDER_ALPHA_URL=http://127.0.0.1:8101
PROVIDER_BETA_URL=http://127.0.0.1:8102
PROVIDER_GAMMA_URL=http://127.0.0.1:8103
PROVIDER_CONNECT_TIMEOUT_MS=500
PROVIDER_TIMEOUT_MS=1500

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
BUS_DB_NAME=bus_meta
ALPHA_DB_NAME=market_alpha
BETA_DB_NAME=market_beta
GAMMA_DB_NAME=market_gamma

SEARCH_TTL_SECONDS=60
CLEANUP_INTERVAL_SECONDS=5
DEFAULT_RESULT_LIMIT=50
MAX_RESULT_LIMIT=100

ADMIN_USERNAME=admin
ADMIN_PASSWORD=demo-isa3-2026

